/* Accordion */
.container{
    background-color: var(--dark-2);
    box-shadow: var(--shadow-box);
    border-radius: 12px;
}
.target{
    padding: 10px 0;
    font-weight: 500;
    font-size: var(--font-size-s);
}
.content-accordion{
    font-size: var(--font-size-xs);
    opacity: 0;
    height: 0;
    transition: opacity 0.2s ease,height 0.3s ease; 
    overflow: hidden;
}
.icon-accordion{
    font-weight: 600;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to Right , var(--yellow-1), var(--yellow-2));
}
.content-active{
    opacity: 1;
    height: 100px;
}
.icon-first{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
    background-color: var(--light);
    width: 20px;
    height: 3px;
    z-index: 10;
    transition: opacity 0.3s ease, transform 0.5s ease; 

}
.icon-second{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    background-color: var(--light);
    width: 20px;
    height: 3px;
    z-index: 10;
    transition: transform 0.5s ease; 
}
.icon-first-active{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--light-color);
    transform: translate(-50%,-50%) rotate(90deg);
    width: 20px;
    height: 3px;
    z-index: 10;
    animation: appeandIcon 0.3s forwards;

}
.faq button:hover{
    box-shadow: var(--shadow-box);
}
.faq input{
    box-shadow: var(--shadow-box);
    width: 100%;
    height: 60px;
    padding-left: 15px;
    border-radius: 20px;
    outline: none;
}
.faq input:focus, .faq textarea:focus{
    border: 2px solid var(--main-color);
}
.faq textarea{
    outline: none;
    box-shadow: var(--shadow-box);
    width: 100%;
    padding-left: 15px;
    border-radius: 20px;  
}
.faq h2{
    color: var(--second-color);
    font-size: var(--font-size-3xl);
    font-weight: 600;
}
.faq h4{
    color: var(--main-color);
    font-weight: 500;
}
@keyframes appeandIcon {
    from{opacity: 1;}
    to{ opacity: 0;}
    
}
@media (max-width:400px) {
    .content-active{
        opacity: 1;
        height: 150px;
    }
    
}