/* Hero Section */
.hero-section{
    height: 800px;

}
.hero-section h1{
    font-size: var(--font-size-3xl );
    font-weight: 700;
    text-align: center;
}
.hero-section h2{
    font-size: var(--font-size-xl );
    font-weight: 600;
    text-align: center;
    /* overflow: hidden; */
    position: relative;
}
.hero-section h2 span{
    color: var(--yellow-1);
}



/* Square Shape */
.square-1{
    width: 700px;
    height: 400px;
    border: 2px solid rgba(128, 128, 128, 0.181);
    border-radius: 100px;
    position: relative;
    background-color: var(--dark-1);
}
.logo-btn{
    position: absolute;
    right: -18px;
    top: 30px;
    background : linear-gradient(to left , var(--yellow-1,var(--yellow-2)));
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.623);

}
.logo-mic{
    position: absolute;
    left: -20px;
}
.logo-google{
    position: absolute;
    left: 200px;
    top: -20px;
}
.logo-linkedin{
    position: absolute;
    left: 200px;
    bottom: -15px;
}
.logo-twitter{
    position: absolute;
    right: -20px;
    bottom: 100px;   
}
.square-2{
    width: 550px;
    height: 300px;
    border: 2px solid rgba(128, 128, 128, 0.181);
    border-radius: 90px;
    position: relative;
}
.logo-relation{
    position: absolute;
    left: -20px;
    top: 50px;
}
.logo-seo{
    position: absolute;
    right: -20px;
    bottom: 70px;
}
.logo-graphic{
    position: absolute;
    right: 50px;
    bottom: -22px;
}
.logo-coding{
    position: absolute;
    left: -20px;
    bottom: 50px; 
}
.logo-btn-2{
    position: absolute;
    bottom: -18px;
    left: 50px;
    background : linear-gradient(to left , var(--yellow-1,var(--yellow-2)));
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(128, 128, 128, 0.623);

}
.square-3{
    width: 400px;
    height: 200px;
    border: 2px solid rgba(128, 128, 128, 0.234);
    border-radius: 70px;
    position: relative;
}
.logo-youtube{
    position: absolute;
    top: -18px;
    right: 50px; 
}
/* Services */
.services{
    position: relative;
    margin-top: -50px;
    z-index: 10;
    background: linear-gradient(to bottom , #0b081d97 , #0b081d);
}
.services h2{
    color: var(--yellow-2);
    font-size: var(--font-size-xxl);
    font-weight: 500;
}
.card{
    background-color: var(--dark-1);
    border: 2px solid rgba(128, 128, 128, 0.181);
    border-radius: 10px;
}
.card h3{
    color : var(--yellow-2);
    font-size: var(--font-size-s);
    font-weight: 500;
}
.card p{
    font-size: var(--font-size-xxs);
}
.container-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
.container-image img{
    object-fit: cover;
    width: 100%;
}
.content-card{
    position: absolute;
    inset: 0;
    z-index: 10;
}
.row-line{
    height: 2px;
    background-color: var(--light);
    position: absolute;
    top: 20px;
    width: 60%;
    z-index: 1;
    left: 0;
}
.row-second-line{
    height: 2px;
    background-color: var(--light);
    position: absolute;
    top: 90px;
    width: 40%;
    z-index: 1;
    left: 0;
}
.col-line{
    width: 2px;
    background-color: var(--light);
    position: absolute;
    top: 0;
    height:  60%;
    z-index: 1;
    left: 20px;
}
.col-second-line{
    width: 2px;
    background-color: var(--light);
    position: absolute;
    top: 0;
    height: 40%;
    z-index: 1;
    left: 90px;
}

/* Founder */
.content-founder{
    background-color: var(--dark-1);
    border: 2px solid rgba(128, 128, 128, 0.181);
    border-radius: 10px;
    position: relative;
}
.founder h4{
    font-size: var(--font-size-xl);  
    color: var(--yellow-2);
    font-weight: 500;
}
.founder p{
    font-size: var(--font-size-xs);
}
.content-founder .img-content{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;

}
.content-founder .img-content img{
    width: 100%;
    object-fit: cover;
}
.content-founder .content{
    position: absolute;
    z-index: 1;
    inset: 0;
}
.founder-image{
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}
.founder-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
