nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;

}
.content-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.155);
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px); 
}
.content-nav ul{
    display: flex;
    font-size: var(--font-size-s);
    font-weight: 500;
}

.container-menu-lines{
    width: fit-content;
    height: 15px;
    position: relative;
    display: none;
    
}
nav a.active{
    color: var(--yellow-2);
}
.line-menu-1, .line-menu-2, .line-menu-3{
    background: var(--light);
    width: 30px;
    height: 2px;
    position: absolute;
    left: 0;
    transition: 0.3s ease;
}
.line-menu-1{
    top: 0;
}
.line-menu-2{
    top: 50%;
    transform: translateY(-50%);
}
.line-menu-3{
    bottom:  0;
}
.close-icon-menu .line-menu-1{
    top: 50%;
    transform: rotate(45deg);
}
.close-icon-menu .line-menu-2{
    opacity: 0;
}
.close-icon-menu .line-menu-3{
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}

/* Services Navbar */
.menu-sevices{
    background-color: #0f0c20f7;
    position: fixed;
    z-index: 2000;
    top : 0 ;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-sevices .icon{

    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;

    
}

.btn-sevices{
    position: relative;
    border: 1px solid var(--yellow-1);
    border-radius: 10px;
    font-size: var(--font-size-l);
    background-color: var(--dark-1);
}
.conatiner-btns{
    animation: popUpServices 0.5s linear forwards; 
}
@keyframes popUpServices {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.btn-sevices::before{
    content : "";
    position: absolute;
    background-color: var(--yellow-1);
    inset: 0;
    z-index: -10;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 0;
}
.btn-sevices:hover::before{
    left: -5px;
    right: -5px;
    transform: rotate(-2deg);
    opacity: 1;
}
/* Lines */
.container-lines{
    position: relative;
    overflow: hidden;
}
.container-lines-with-glow{
    position: relative;
    overflow: hidden;
    background: url("../images/glow.png");
    background-repeat: no-repeat;
}
.content-lines{
    position: relative;
    z-index: 100;
}
.lines{
    position: absolute;
    display: flex;
    overflow: hidden;
}
.line{
    height: 100%;
    /* display: inline-block; */
    border-right: 70px solid rgba(128, 128, 128, 0);
    border-left: 1px solid rgba(128, 128, 128, 0.155);
    height: 1000px;
}
.lines-horizontal{
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 1000px;
}
.line-horizontal{
    /* display: inline-block; */
    border-top: 70px solid rgba(128, 128, 128, 0);
    border-bottom: 1px solid rgba(128, 128, 128, 0.155);
}
.square{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 71px;
    top: 141px;
}
.square-left-2{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 141px;
    top: 280px;
}

.square-left-3{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 0;
    top: 563px;
}
.square-left-4{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 281px;
    top: 421px;
}
.square-left-5{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 1338px;
    top: 141px;
}
.square-left-6{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 1268px;
    top: 280px;
}
.square-left-7{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 1409px;
    top: 563px;
}
.square-left-8{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 915px;
    top: 703px;
}
.square-left-9{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 915px;
    top: 71px;
        
}
.bubble-first{
    transform: scale(0);
    animation: showSquare 0.3s forwards linear;
}
@keyframes showSquare {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.bubble{
    transform: scale(1);
    animation: changeStatus 2s infinite linear;
}
@keyframes changeStatus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Heading  */
.heading h3{
    font-size: var(--font-size-l);

}
.heading h2{
    font-size: var(--font-size-3xl);
    color: var(--yellow-2);
    font-weight: 600;
    width: 45%;
    margin: auto;
    line-height: 3rem;
}
.container-icons{
    background-color: var(--light);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-icons img{
    object-fit: contain;
    transition: 0.3s;
}
.container-icons:hover img{
    transform : scale(1.1)
}
/* Footer */
footer p{
    font-size: var(--font-size-xxs);
}
footer h5{
    font-size: var(--font-size-l);
    color: var(--yellow-2);
    text-transform: uppercase;
    font-weight: 600;
}
.first-col-in-footer{
    width: 40%;
}
.second-col-in-footer{
    width: 60%;
}
footer a{
    font-size: var(--font-size-xs);
    text-transform: capitalize;
}
footer .icon-footer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background : linear-gradient(var(--yellow-2),var(--yellow-1));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}
footer .icon-footer:hover{
    background : linear-gradient(var(--yellow-1),var(--yellow-2));
    transform: scale(1.1);
}
.icon-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}
.input-footer{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;

}
.input-footer .input-container{
    background-color: var(--light);
    position: absolute;
    inset: 0;
    z-index: 0;
}
.input-footer .input-container input{
    color: var(--dark-1);
    padding-left: 10px;
}
.icon-input{
    position: absolute;
    background-color: var(--yellow-2);
    right: 0;
    width: 50px;
    z-index: 1;  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}









.final-footer{
    background-color: var(--light);
    color: var(--dark-1);
}
.first-footer{
    margin-top: -50px;
    position: relative;
}
.first-footer p{
    width: 50%;
    margin: auto;
    font-size: var(--font-size-xs);
}
.pages a{
    transition: 0.3s;
}
.pages a:hover{
    color: var(--yellow-2);
}
p{
    font-size: var(--font-size-xs);
}
/* Intro Heading */
.intro-heading h1{
    font-size: var(--font-size-3xl );
    font-weight: 700;
    text-align: center;
}
.not-clickable{
    color: rgb(128, 128, 128);
}
.intro-heading a{
    color: var(--yellow-2);
}

@media (max-width:1200px) {
    .heading h3{
        font-size: var(--font-size-s);
    }
    .heading h2{
        font-size: var(--font-size-xxl);
        width: 85%;
        line-height: 2.3rem;
    } 
    .intro-heading h1{
        font-size: var(--font-size-xxl );
    }
    .first-col-in-footer{
        width: 35%;
    }
    .second-col-in-footer{
        width: 65%;
    }
}
@media (max-width:1020px) {
    .first-col-in-footer{
        width: 30%;
    }
    .second-col-in-footer{
        width: 70%;
    }
}
@media (max-width:900px) {
    .content-nav ul{
        display: none ;
    }
    .content-nav ul.open{
        display: flex ;
        position: fixed;
        left : -50px;
        top: -30px;
        right: -20px;
        bottom: -20px;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-xl);
        font-weight: 600;
        background-color: #0b081eef;
        z-index: -2;

    }
    .content-nav ul li{
        opacity: 0;
    }
    .content-nav ul.open li{
        animation: appearLi 0.4s forwards linear;
    }
    @keyframes appearLi {
        from{
            transform: scale(0.5);
            opacity: 0;
        }to{
            transform: scale(1);
            opacity: 1;
        }
    }
    .container-menu-lines{
        display: flex;
    }
    .content-nav svg{
        width: 50px;
    }
    footer{
        flex-direction: column;
    }
    .first-col-in-footer{
        width: 100%;
    }
    .second-col-in-footer{
        width: 100%;
    }
}
@media (max-width:800px) {
    
}
@media (max-width:768px) {
    .metrics h4{
        font-size: var(--font-size-xl) !important;   
    }
    .metrics p{
        text-align: center;
        font-size: var(--font-size-xxs);
    }
}
@media (max-width:600px) {
    .heading h3{
        font-size: var(--font-size-s);
    }
    .heading h2{
        font-size: 1.6rem;
        width: 85%;
        line-height: 2rem;
    }
    .intro-heading h1{
        font-size: 1.7rem;
    } 

}
@media (max-width:500px) {
    .heading h2{
        font-size: 1.4rem;
        width: 90%;
        line-height: 1.8rem;
    } 
    p{
        font-size: var(--font-size-xxs);
    }
    .intro-heading h1{
        font-size: 1.3rem;
    } 
    .container-lines-with-glow{
        background: url("../images/glow-small.png");
        background-repeat: no-repeat;
    }
}
@media (max-width:450px) {
    
}
@media (max-width:400px) {
    .metrics h4{
        font-size: var(--font-size-l) !important;   
    }
    .metrics p{
        font-size: 10px;
    }
}
@media (max-width: 350px) {
    .intro-heading h1{
        font-size: 1.2rem;
    } 
}