nav{
    /* background-color : white ; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;

}
.content-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.155);
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(3px); 
}
.content-nav ul{
    display: flex;
    font-size: var(--font-size-s);
    font-weight: 500;
}
.container-menu-lines{
    width: fit-content;
    height: 15px;
    position: relative;
    display: none;
}
.line-menu-1, .line-menu-2, .line-menu-3{
    background: var(--light);
    width: 30px;
    height: 2px;
    position: absolute;
    left: 0;
    transition: 0.3s ease;
}
.line-menu-1{
    top: 0;
}
.line-menu-2{
    top: 50%;
    transform: translateY(-50%);
}
.line-menu-3{
    bottom:  0;
}
.close-icon-menu .line-menu-1{
    top: 50%;
    transform: rotate(45deg);
}
.close-icon-menu .line-menu-2{
    opacity: 0;
}
.close-icon-menu .line-menu-3{
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
}

/* Lines */
.container-lines{
    position: relative;
    overflow: hidden;
}
.content-lines{
    position: relative;
    z-index: 100;
}
.lines{
    position: absolute;
    display: flex;
    overflow: hidden;
}
.line{
    height: 100%;
    /* display: inline-block; */
    border-right: 70px solid rgba(128, 128, 128, 0);
    border-left: 1px solid rgba(128, 128, 128, 0.155);
    height: 1000px;
}
.lines-horizontal{
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 1000px;
}
.line-horizontal{
    /* display: inline-block; */
    border-top: 70px solid rgba(128, 128, 128, 0);
    border-bottom: 1px solid rgba(128, 128, 128, 0.155);
}
.square{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 71px;
    top: 141px;
}
.square-left-2{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 141px;
    top: 280px;
}

.square-left-3{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 0;
    top: 563px;
}
.square-left-4{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 281px;
    top: 421px;
}
.square-left-5{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 1338px;
    top: 141px;
}
.square-left-6{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 1268px;
    top: 280px;
}
.square-left-7{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 1409px;
    top: 563px;
}
.square-left-8{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 915px;
    top: 703px;
}
.square-left-9{
    background-color:  var(--dark-2);
    width: 71px;
    height: 71px;
    position: absolute;
    z-index: 20;
    left: 915px;
    top: 71px;
        
}
.bubble-first{
    transform: scale(0);
    animation: showSquare 0.3s forwards linear;
}
@keyframes showSquare {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.bubble{
    transform: scale(1);
    animation: changeStatus 2s infinite linear;
}
@keyframes changeStatus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Heading  */
.heading h3{
    font-size: var(--font-size-l);

}
.heading h2{
    font-size: var(--font-size-3xl);
    color: var(--yellow-2);
    font-weight: 600;
    width: 45%;
    margin: auto;
    line-height: 3rem;
}
.container-icons{
    background-color: var(--light);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-icons img{
    object-fit: contain;
}

/* Footer */
.final-footer{
    background-color: var(--light);
    color: var(--dark-1);
}
.first-footer{
    margin-top: -50px;
    position: relative;
}
.first-footer p{
    width: 50%;
    margin: auto;
    font-size: var(--font-size-xs);
}
.pages a{
    transition: 0.3s;
}
.pages a:hover{
    color: var(--yellow-2);
}
p{
    font-size: var(--font-size-xs);
}
@media (max-width:1200px) {
    .heading h3{
        font-size: var(--font-size-s);
    }
    .heading h2{
        font-size: var(--font-size-xxl);
        width: 85%;
        line-height: 2.3rem;
    } 
}
@media (max-width:1020px) {

}
@media (max-width:900px) {
    nav ul{
        display: none !important;
    }
    .container-menu-lines{
        display: flex;
    }
    .content-nav svg{
        width: 50px;
    }
}
@media (max-width:800px) {
    
}
@media (max-width:768px) {
    
}
@media (max-width:600px) {
    .heading h3{
        font-size: var(--font-size-s);
    }
    .heading h2{
        font-size: 1.6rem;
        width: 85%;
        line-height: 2rem;
    } 
}
@media (max-width:500px) {
    .heading h2{
        font-size: 1.4rem;
        width: 90%;
        line-height: 1.8rem;
    } 
    p{
        font-size: var(--font-size-xxs);
    }
}
@media (max-width:450px) {
    
}
@media (max-width:400px) {
    
}