/* About Page */
.container-vision{
    position: relative;
    height: 670px;

}
.vision-content{
    background : url("../images/man-star.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.container-vision img{
    position: absolute;
    inset: 0;
    z-index: 1;
    height: 100%;
    object-fit: cover;
    
}
.card-about{
    background: var(--dark-2);
    border-radius: 10px;
}
.card-about h2{
    font-size: var(--font-size-l);
    font-weight: 600;
}
.card-about li{
    font-size: var(--font-size-xxs);
    margin-top: 5px;
    position: relative;
    padding-left: 15px;
}
.card-about li::before{
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    background: linear-gradient(var(--yellow-2),var(--yellow-1));
    border-radius: 50%;
    top : 50%;
    transform: translateY(-50%);

}
.metrics h4{
    font-size: var(--font-size-xxl);
    font-weight: 600;
    color: var(--yellow-2);
}
/* Subscribe Component */
.subscribe-container{
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.399);
}
/* Contact */
.contact h2{
    font-size: var(--font-size-xxl);
    color: var(--yellow-2);
    line-height: 2.5rem;
    font-weight: 500;
}
.contact iframe{
    width: 100%;
    border-radius: 10px;
    height: 300px;
}
.contact form{
    background: var(--dark-2);
    border-radius: 10px;
}
.card-info-contact{
    background: var(--dark-2);
    border-radius: 10px;
}
form input{
    border: 1px solid rgba(128, 128, 128, 0.656);
    border-radius: 10px;
    height: 45px;
    padding-left: 10px;
}
form textarea{
    border: 1px solid rgba(128, 128, 128, 0.656);
    border-radius: 10px;
    padding:10px;
}
/* Sub Services */
.sub-services{

}
.sub-services img{
    border-radius: 10px;
}
.card-tools{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-card{
    position: relative;
}
.card-tools h4{
    color: var(--light);
    font-weight: 600;
    font-size: var(--font-size-s);
    width: 220px;
    background: var(--dark-1);
    border: 1px solid rgba(128, 128, 128, 0.656);
    border-radius: 10px;
    height: 100px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.move-box-up-down{
    animation: moveBoxUpDown 3s infinite linear;
}
@keyframes moveBoxUpDown {
    0%{
        transform: translateY(-10px);
    }50%{
        transform: translateY(0);
    }100%{
        transform: translateY(-10px);
    }
}
.move-box-left-right{
    animation: moveBoxLeftRight 3s infinite linear;
}
@keyframes moveBoxLeftRight {
    0%{
        transform: translateX(-10px);
    }50%{
        transform: translateX(0);
    }100%{
        transform: translateX(-10px);
    }
}
@media (max-width : 1200px) {
    .vision-content{
        background-size: cover;
    }
}
@media (max-width : 900px) {

    
}
@media (max-width: 768px) {
    .container-vision{
        height: fit-content;
    }
    .vision-content{
        background: unset ;
    }
    .contact h2{
        font-size: var(--font-size-xl);
        line-height: 1.8rem;
    }
    .image-as-svg svg{
        height: 300px;
    }
}
@media (max-width : 500px) {
    .card-info-contact svg{
        width: 40px;
    }

    
}
@media (max-width : 450px) {
    .image-as-svg svg{
        height: 250px;
    }
    
}
@media (max-width: 400px) { 
    .vision-content{
        background-position-x: 20%;
    }
}
@media (max-width : 350px) {
    .image-as-svg svg{
        height: 200px;
    }    
}